@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNext-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNext-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNext-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

:root {
  width: 1440px;
  margin: 0 auto;
  font-family: "Avenir Next", sans-serif;
  line-height: 25.76px;
  letter-spacing: 0.9px;
  vertical-align: middle;
  font-size: 14px;
  background-color: #26262B;
  color: white;
}
