@import "tailwindcss";

:root {
  width: 1440px;
  margin: 0 auto;
  font-family: Avenir Next, sans-serif;
  line-height: 25.76px;
  letter-spacing: 0.9px;
  vertical-align: middle;
  font-size: 14px;
  background-color: #26262B;
  color: white;
}
